<body>

<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Coming+Soon" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

<h1 class="titulo">Mulheres FODAS da Tecnologia</h1>


<%= form_for :post, url: posts_path do |f| %>
	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :bio %>
		<%= f.text_area :bio %>
	</p>

	<p>
		<%= f.label :picture %>
		<%= f.file_field :picture %>
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>
</div>
</body>
